body {
    background-color: #FCC800;
}

.container {
        display: flex;
        justify-content: center;
        align-items: center;
        place-content: center;
        flex-direction:column;
        margin-top: 15vh;
    }

    .login-form {
        background: white;
        width: 100%;
        height: 400px;
        max-width: 600px;
        box-shadow: 0 0 0 10px white;
    }

    h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0px;
        color: #333;
        font-size: 24px;
    }

    .form-group {
        align-items: center;
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: #333;
    }

    input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        padding: 3px;
        border: 1px solid #000;
        font-size: 16px;
    }

    small {
        display: block;
        color: #666;
        margin-top: 5px;
        font-size: 12px;
    }

    .login-button {
        width: 300px;
        padding: 10px;
        background-color: #DD6E35;
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
    }

    .register-link {
        text-align: center;
        margin-top: 15px;
    }

    .register-link a {
        color: #DD6E35;
        text-decoration: none;
    }

    form {
        margin-top: 40px;
    }

    .icon{
        width: 80px;
        height: auto;
        margin-bottom: 30px;
    }

    @media (max-width: 480px) {
        .container {
            padding: 15px;
        }

        .login-form {
            padding: 15px;
            margin: 8px;
            box-shadow: 0 0 0 8px white;
        }

        input,
        .login-button {
            width: 100%;
        }
    }